<div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" id="all" value="all" name="options" checked (click)="all()">
        <label class="form-check-label" for="all">All</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" id="pending" value="1" name="options" (click)="pending()">
        <label class="form-check-label" for="inlineCheckbox2">Pending</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" id="approved" value="2" name="options" (click)="approved()">
        <label class="form-check-label" for="approved">Approved</label>
      </div>
      <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" id="denied" value="3" name="options" (click)="denied()">
          <label class="form-check-label" for="denied">Denied</label>
        </div>
        
</div>
<div *ngFor="let request of active" class = "request">
  <div class="titlebox">Reimbursement Request Id: {{request.id}}</div>
  Author ID: {{request.authorId}}
  <br>
  Amount: {{request.amount}} $
  <br>
  Description: {{request.description}}
  <br>
  Type ID: {{request.typeId}}
  <br>
  Status ID : {{request.statusId}}
  <br>
  Date Submitted: {{request.submitted | date : 'yyyy-MM-dd HH:mm'}}
  <br>
  Date Resolved: {{request.received | date : 'yyyy-MM-dd HH:mm'}}
</div>
<p  class = "titlebox" *ngIf= "isEmpty()">No Reimbursement Requests Found</p>