<form id ="loginform" method="post" action="LoginServlet">
    <div class="form-group">
        <label for="UsernameInput">Username</label>
        <input type="text" class="form-control" id="username" placeholder="Username" name="username" [(ngModel)]="username">
    </div>
    <div class="form-group">
        <label for="PasswordInput">Password</label>
        <input type="password" class="form-control" id="password" placeholder="Password" name="password" [(ngModel)]="password">
    </div>

    <button type="submit" class="btn btn-primary" id="submit" (click)="submit()">Submit</button>
</form>
